
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Shadows+Into+Light+Two&display=swap');
*{
    padding:0;
    margin:0;
   
}
main{
    background-color:#F8FAFC;
}
#logo{
  
    width:45px;
    height:43.14px;
    line-height: 29px;
    
  }
  #brand{
    width:203px;
    height:72px;
    font-family:'Inter';
    font-weight:600;
    font-size:24px;
    color:#000000;
    line-height:29px;

    
}

#main-links{
    font-weight:500;
 

}
#links, #main-links,#sign-confirm{
    font-family:'Inter';
    font-size:16px;
    color:#18181B;
    height:20px;
    line-height:19px;


}
#links{
    font-weight: 400;
}

.icons-avatar{
    line-height: 19px;
    width:33px;
    height:33px;
}
/*first section*/

#head{
    font-family: 'Shadows Into Light Two';
    font-weight:400;
    font-size:58px;
    line-height: 84px;
    color:#F74F22;


}
#text{

    font-family: 'Inter';
    color:#1E1E1E;
}
#whole{
    width:40%;
    padding-left: 4rem;
}
#sec2{
    font-family: Inter;
    font-size: 32px;
    font-weight:600;
    color:#1E1E1E;
    line-height: 39px;
}

#colum{
    
    width:402px;
    height:276;
    margin:2rem 1rem;
    box-shadow:4px 4px 10px rgba(0,0,0,0.15);
}
#headie{
    font-family: 'Inter';
    font-weight:600;
    font-size: 16px;
    line-height: 28px;
    color:#F74F22
}
#cardie{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color:#5D5F6D;
}
p a{
    text-decoration: none;
    font-family: 'Shadows Into Light Two';
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color:#F74F22;
    margin: 3rem 0;
}
/*footer section*/

#foot-head{
    font-family:'Shadows Into Light Two';
    font-weight: 400;
    font-size: 40px;
    color:#1E1E1E;
}

#card1{
    width:423px;
   
    background-color:rgba(30,30,30,0.69);
    border-radius: 5px;
    text-align: center;
}
#form1{
    font-family:'Inter';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color:#FAFAFA;
    padding:2rem 0;
}
#selecform{
    width:266px;
    height:40px;
    border:1px solid #E7EAEE;
    border-radius:4px;
    margin:auto;
}
/*form two styling*/

#data{
    padding:20px 28px;
}
/*button*/
.endbtn{
    text-align: center;
    margin-top:2rem;
}
#end{
    padding:16px 28px;
    align-items: center;
    gap:8px;
    background:#F74F22;
    border:1px solid #F74F22;
    box-shadow:0px 1px 2px rgba(16,24,40,0.05) ;
    border-radius:8px;
    text-align:center;
    width:246px;
    color:#FFFFFF;
}
  