<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FundTheM</title>

  <!--CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body bg-`color="#F8FAFC">

    <main>
   <!--NAVBAR-->
   
    <!-- <nav class="navbar navbar-expand-lg navbar-light px-5 py-3">
        <div class="container-fluid mx-5">
         <div class=" logo-part mt-3">
          <div id="logo d-lg-flex">
            <img src="img/Vector.png">
              <a class="navbar-brand mt-3" id="brand" href="./home.html">FUNDTheM</a>
            </div>
            </div>
        
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto me-5">
              
              <li><a href="/" class="nav-links active">HOME</a></li>
              <li><a href="./about.ejs" class="nav-links">ABOUT</a></li>
              <!--<div class="dropdown">
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
              <!-- <li><a href="#" class="nav-links">CAUSES</a></li> -->
              <!--<li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>>
              </ul>
              </div>-->
              <!-- <li><a href="#" class="nav-links">BLOG</a></li>
              <li><a href="#" class="nav-links">CONTACT US</a></li>
              <li><a href="./donation.html" class="nav-links">DONATE</a></li>
              <li><a href="./login.html" class="nav-links orange-text">LOGIN</a></li>
              <a href="./signup.html"><button>Sign Up</button></a>
            </ul>
          
        </div>
      </nav> --> -->

    <nav class="navbar navbar-expand-lg navbar-light px-5 py-3">
        <div class="container-fluid mx-5">
         <div class=" logo-part mt-3">
          <div id="logo d-lg-flex">
            <img src="img/Vector.png">
          <a class="navbar-brand mt-3" id="brand" href="#">FUNDTheM</a>
          </div>
        </div>
        
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto me-5">
              <li class="nav-item me-4">
                <a class="nav-link active fw-normal" id="main-links" aria-current="page" href="#">HOME</a>
              </li>
    
              <li class="nav-item ">
                <a class="nav-link" id="links" href="/about">ABOUT</a>
             </li>

              <li class="nav-item">
                <a class="nav-link" id="links" href="/causes">CAUSES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"id="links" href="#
                /blog">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="links" href="/contact">CONTACT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-normal" id="main-links" href="/donation">DONATE</a>
              </li>

            </ul>
          </div>
          <div class="icon-avatar">
             <img src="img/Avatar.png"> 
             <i class="fa-light fa-bell"></i>
          </div>
        </div>
      </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/Rectangle 14.png" class="d-block w-100" id="imo" alt="image" >
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
              <button class="btn-btn-primary">LEARN MORE</button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/Rectangle 16.png" class="d-block w-100" id="imo" alt="image">
            <div class="carousel-caption d-none d-md-block">
              <h5>Skill Acqusition</h5>
              <p>Get Trained or Become a Trainer</p>
              <button class="btn-btn-primary">LEARN MORE</button>
            </div>
          </div>
          <div class="carousel-item">
              <div class="last">
                <img src="img/Rectangle 17.png" class="d-block w-100 last" alt="image" id="imo">
              </div>
           
            <div class="carousel-caption d-none d-md-block">
              <h5>Help a child</h5>
              <p>Change the life of a child by sponsoring or writing a review</p>
              <button class="btn-btn-primary">LEARN MORE</button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


  

        <!--<a class="navbar-brand" src="./Vector.png"><b>FundTheM</b></a>-->
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>-->
   
    
    <section id="hero-section">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/rec16.png" class="d-block w-100" alt="...">
            <label for="item1">item 1</label>
            
            <div class="carousel-caption d-none d-md-block">
              <h5>Join the change</h5>
              <p>Collectively, Poverty can be Eradicated</p>
              <button>LEARN MORE</button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/rec19.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Skill Acquisition</h5>
              <p>Get Trained or Become a Trainer</p>
              <button>LEARN MORE</button>
          </div>
          <div class="carousel-item">
            <img src="img/rec20.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Help a child</h5>
              <p>Change the life of a child by sponsoring or writing a review</p>
              <button>LEARN MORE</button>
            </div>
          </div>
        </div>
       
      </div>
    </section>

   
 <!-- <section class="container">
    <h1>Who we are</h1>

    <div class="grid-box">
      <div class="col">
        <div class="img-wrap">
          <img src="./IMAGES/who we are.jpg" alt="">
        </div>
       
      </div>-->

      <!--  about section  -->
    <section class="about-section">
      <div class="text-center my-5" id="header">
          <p class="fs-4 mb-1">about us</p>
          <h4 class="fs-3 fw-bold lh-base"style="color: #1E1E1E;">who are we</h4>
      </div>
      <div class="main-container ">
          <div class="card   " style="max-width: 100%;" id="main-container">
              <div class="row mx-auto ">
                <div class="col-md-4">
                  <img src="img/who we are.jpg"  class="img-fluid rounded-start " alt="people-together">
                </div>
                <div class="col-md-8" >
                  <div class="card-body ms-4 ">
                    <h5 class="card-title my-4 lh-base fs-4  " style="color: #ff9900;">
                    Creating a balance in the world</h5>
                    <p id="text-container" class="card-text fs-5 fw-bold" style="color: #1E1E1E; ">At FundtheM (FTM), we are dedicated to 
                      ensuring that everyone has access to basic 
                      needs. We provide support and resources 
                      which helps us to make in a difference in our
                      local and global community in order to help 
                      create sustainable development projects
                      that have a lasting impact.</p>
                    <span><a href="" class="text-decoration-none fs-6" style="color: #F74F22; font-family: 'Shadows Into Light Two', cursive;">Learn More</a></span>
                  </div>
                </div>
              </div>
            </div>
        
      </div>
  </section>
  <!-- causes section -->
  <section class="causes-section">
      <div class="text-center my-5 mt-5" id="header" >
          <p class="fs-4 mb-1">our causes</p>
          <h4 class="fs-3 fw-bold lh-base"style="color: #1E1E1E;">What We Offer</h4>
      </div>
      <div class="card-group mx-auto mt-4" id="image-card">
          <div class="card border-0 ">
            <div class="position-relative">
              <img src="img/Rectangle 21.png" class="card-img-top" alt="...">
              <button class="btn position-absolute bottom-0 end-0  "><a href="" id="button" class="text-decoration-none">Join Now</a></button>
            </div>
            <div class="card-body" id="text">
              <h5 class="card-title fs-5 fw-bold " id="title">Uplift homes from poverty</h5>
              <p class="card-text fs-6 " id="paragraph">We can work together to ensure so many homes live better</p>
              <p class="card-text fw-bold" style="color: #000;">Helped: 100 families</small></p>
              <span><a href="" class="text-decoration-none fs-6" style="color: #F74F22; font-family: 'Shadows Into Light Two', cursive;">Learn More</a></span>
            </div>
          </div>
          <div class="card border-0">
            <div class="position-relative">
              <img src="img/Rectangle 22.png" class="card-img-top" alt="...">
              <button class="btn position-absolute bottom-0 end-0  "><a href="" id="button" class="text-decoration-none">Join Now</a></button>
            </div>
            <div class="card-body" id="text">
              <h5 class="card-title fs-5 fw-bold "id="title">Raise funds for children</h5>
              <p class="card-text" id="paragraph" style="width: 300px;">Join us to ensure children get the best opportunities</p>
              <p class="card-text fw-bold" style="color: #000;">Helped: 500 families</p>
              <span><a href="" class="text-decoration-none fs-6" style="color: #F74F22; font-family: 'Shadows Into Light Two', cursive;">Learn More</a></span>
            </div>
          </div>
          <div class="card border-0">
            <div class="position-relative">
              <img src="img/Rectangle 23.png" class="card-img-top" alt="...">
              <button class="btn position-absolute bottom-0 end-0  "><a href="" id="button" class="text-decoration-none">Join Now</a></button>
            </div>
            <div class="card-body" id="text">
              <h5 class="card-title fs-5 fw-bold "id="title">Skill acquisition programs</h5>
              <p class="card-text" id="paragraph">Together we can ensure so many people get necessary skills</p>
              <p class="card-text fw-bold" style="color: #000;">Trained: 100 individuals</small></p>
              <span><a href="" class="text-decoration-none fs-6" style="color: #F74F22; font-family: 'Shadows Into Light Two', cursive;">Learn More</a></span>
            </div>
          </div>
        </div>
  </section>
  <!-- our events section -->
  <section class="our-events">
      <div class="text-center my-5 mt-5" id="header" >
          <p class="fs-4 mb-1">our events</p>
          <h4 class="fs-3 fw-bold lh-base" style="color: #1E1E1E;">Be part of our programs</h4>
      </div>
      <div  class="d-flex mx-auto " id="flex-items" style="width: 100%;">
        <div class="events ms-5 " style="width: 750px;">
          <div class="d-flex mx-auto  p-3" style="background-color: #1E1E1E14;" id="flex-items">
              <div class=" button-dates fs-6 mt-2 text-center " style="color: white; width: 57px;">11 JUNE</div>
              <div class="texts containers"  >
                  <p class="fs-6 mb-1" id="header2">9:00am -11:00am</p>
                  <h4 class="fs-6 fw-bold lh-base" style="color: #1E1E1E;">Donation program for children’s education</h4>
                  <p class="card-text" id="paragraph">This program is aimed at raising 50million for education of some children</p>    
              </div>
          </div> 
          <br> 
          <div class="d-flex mx-auto  p-3" style="background-color: #1E1E1E14;" id="flex-items">
              <div class="button-dates fs-6 mt-2 text-center " style="color: white; width: 72px;">20
                  JAN</div>
              <div class="texts containers"  >
                  <p class="fs-6 mb-1" id="header2">9:00am -11:00am</p>
                  <h4 class="fs-6 fw-bold lh-base" style="color: #1E1E1E;">Design like a pro tech meeting</h4>
                  <p class="card-text" id="paragraph">Skill acquisition program for young adults aimed to introduce them to the world of tech design.</p>    
              </div>
          </div>
          <br>
          <div class="d-flex mx-auto  p-3" style="background-color: #1E1E1E14;" id="flex-items">
              <div class="button-dates fs-6 mt-2 text-center " style="color: white; width: 55px;">10
                  FEB</div>
              <div class="texts containers"  >
                  <p class="fs-6 mb-1" id="header2">9:00am -11:00am</p>
                  <h4 class="fs-6 fw-bold lh-base" style="color: #1E1E1E;">Operation touch a family</h4>
                  <p class="card-text" id="paragraph">We are targeting homes that need to be helped in order to bettertheir lives.</p>    
              </div>
          </div>
          <br>
          <div class="d-flex mx-auto  p-3" style="background-color: #1E1E1E14;" id="flex-items">
              <div class="button-dates fs-6 mt-2 text-center " style="color: white; width: 71px">15
                  MAR</div>
              <div class="texts containers" >
                  <p class="fs-6 mb-1" id="header2">9:00am -11:00am</p>
                  <h4 class="fs-6 fw-bold lh-base" style="color: #1E1E1E;">Personal cause for me now</h4>
                  <p class="card-text" id="paragraph">Our goal for this program is to educate and enlighten people on how important having a personal cause is.</p>    
              </div>
          </div>

        </div>
        <div class="picture">
          <div class="card ms-5 border-0" style="width: 80%;">
              <img src="img/Rectangle 35.png" class="card-img-top" alt="...">
              <div class="d-flex justify-content-between ms-4 me-4 mt-3">
                  <p class="fs-6 mb-1" id="header2">11th January</p> 
                  <p class="fs-6 mb-1" id="header2">9:00am -11:00am</p>
              </div>
              <div class="card-body text-center">
                  <h4 class="fs-6 fw-bolder lh-base" style="color: #1E1E1E;">Donation program for children’s education</h4>
                <p class="card-text" style="color: #1E1E1E; font-family: 'Inter';">This program is aimed at raising 50million for education of some children. We are callig on those who would want to be a part of this cause to join us.</p>
              </div>
            </div>
        </div>
      </div>
  </section>
  <!-- testimonials  -->
  <section class="our testimonials">
      <div class="text-center my-5 mt-5" id="header" >
          <p class="fs-4 mb-1">Testimonials</p>
          <h4 class="fs-3 fw-bold lh-base" style="color: #1E1E1E;">Hear from Others</h4>
      </div>
      <div class="testimonials d-flex ms-5 " style="width: 100%;">
          <div class="card mb-3 border-0" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="img/Ellipse 7.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="icons" style="color:#FF9800;">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i></h5>
                    <p class="card-text mb-5" style="font-family:inter; color: #090914;">“I love the idea behind this platform and I’m so excited to be a part of the change”</p>
                    <p class="card-text" style="font-family: Open Sans;"><span class="fw-bolder fs-6 " style="color: #090914;" >Susan Jacob</span> <span style="color: #64748B;">Dewaray.ng</span></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3 border-0" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="img/Ellipse 9.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="icons" style="color:#FF9800;">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i></h5>
                    <p class="card-text mb-5" style="font-family:inter; color: #090914;">“ FTM really transformed my home. My family was almost close to crisis but FTM covered all we need”</p>
                    <p class="card-text" style="font-family: Open Sans;"><span class="fw-bolder fs-6 " style="color: #090914;" >Midad July</span> <span style="color: #64748B;">Kenyan</span></p>
                  </div>
                </div>
              </div>
            </div>
          
      </div>
      <div class="card mb-3 border-0"  id="last-testimonial" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/Ellipse 8.png" class="img-fluid rounded-start"  alt="...">
            </div>
            <div class="col-md-8 ">
              <div class="card-body ">
                <h5 class="icons" style="color:#FF9800;">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i></h5>
                <p class="card-text mb-5" style="font-family:inter; color: #090914;">“This is a program that everyone should be a part of. I got skills which really transformed my life”</p>
                <p class="card-text" style="font-family: Open Sans;"><span class="fw-bolder fs-6 " style="color: #090914;" >John Opa</span> <span style="color: #64748B;">Interior decorator and desiger</span></p>
              </div>
            </div>
          </div>
        </div>
  </section>
  <!-- blog section -->
   <section class="blog">
      <div class="text-center my-5 mt-5" id="header" >
          <p class="fs-4 mb-1">our Blog</p>
          <h4 class="fs-3 fw-bold lh-base" style="color: #1E1E1E;">Read our latest news</h4>
      </div>

  </section> 
  <!-- our brand sponsors page -->
  <section>
      <div class="text-center my-5 mt-5" id="header" >
          <p class="fs-4 mb-1">our Brand sponsors</p>
        
      </div>
     <div class="first-logo d-flex align-items-center " >
       <img src="img/africa agility 1.png" alt="">
       <img src="img/image 2.png" alt="">
       <img src="img/image 5.png" alt="">
       <img src="img/Vectoruba.png" alt="">
       <img src="img/image 5.png" alt="">
     </div>
     <div class="first-logo2 d-flex align-items-center justify-content-between " >
      <img src="../images/Vector (1).png" alt="">
      <img src="." alt="">
      <img src="../images/image 6.png" alt="">
      <img src="../images/Vector (3).png" alt="">
      <img src="../images/Vector (2).png" alt="">
    </div>
    <div class="first-logo3 d-flex align-items-center  " >
      <img src="../images/Vector (4).png" alt="">
      <img src="../images/Vector (5).png" alt="">
      <img src="../images/Vector (6).png" alt="">
      <img src="../images/Vector (7).png" alt="">
    </div>
  </section>

  </main>

  <footer>
    <div class="container-fluid" style="background-color: #1E1E1E14;>
      <div class="row">
        <div class="col 4 offset-1">
          <div>
            <h6>FUNDTHEM</h6>
            <p class="mb-30 footer-desc">FundtheM aims to join the course to eradicate poverty and build skills.</p>
          </div>
        </div>
        <div class="col 2">
          <div class="">
            <h6>COMPANY</h6>
            <ul class="nav flex-column">
              <li>
                <a href="#" class="text-decoration-none">About</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Help a family</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Support a child</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Skill Acquisition</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Personal Cause</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col 2">
          <div>
            <h6>HELP</h6>
            <ul class="nav flex-column">
              <li>
                <a href="#" class="text-decoration-none">Customer Support</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">FAQ</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Terms & Conditions</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col 2">
          <div>
            <h6>OTHERS</h6>
            <ul class="nav flex-column">
              <li>
                <a href="#" class="text-decoration-none">Profile</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Blog</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Settings</a>
              </li>
              <li>
                <a href="#" class="text-decoration-none">Log out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
  
        <div class="copyright">
          <p>© Copyright 2022,All Rights Reserved by<a href="#" target="_blank">FUNDTHEM</a></p>
        </div>
      </div>
    </div>
  </footer>


    <scripts>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </scripts>
  </body>
</html>