@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;500&family=Open+Sans:wght@300&display=swap');
*{
    overflow-x: hidden;
   
    
}
/**about section**/
#header p,#header2{
    font-family: 'Shadows Into Light Two', cursive;
    color: #FF9800;
}
#header, h4{
    font-family: 'Inter', sans-serif;
}
#main-container{
    border: none;
}
#main-container img{
margin-left: 30px;
}
#main-container ,h5,p{
    font-family: 'Inter';
    font-style: normal;
    }
    
#image-card{
    column-gap: 50px;
    width: 90%;
}
/**causes section **/
#title{
    color: #000000;
    font-family: 'Montserrat'
}
#paragraph{
    font-family: 'Open Sans';
}
#button {
    background: #F74F22;
    color: white;
    border: 1px solid #F74F22 ;
    padding: 5px;
    border-radius: 4px;
  }
  /** our events section **/
  .button-dates{
    background: #F74F22;
    border: 2px solid #F74F22;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    min-width: 50px; 
   max-width: 300px;
  }
  #flex-items{
    gap: 25px;
  }
  /* testimonials */
  .testimonials{
    gap: 100px;
    margin-left: 40px;
  }
  #last-testimonial{
    margin-left: 40px;
    margin-top: 40px; 
  }
  /* brand sponsors */
  .first-logo img{
  margin: 40px 30px;
  max-width: 250px;
  min-width: 60px;
  height: auto;
  margin-left: 70px;
  gap: 200px;
  }
  .first-logo2 img{
    margin: 40px 30px;
    max-width: 200px;
    min-width: 60px;
    height: auto;
    margin-left: 70px;
    gap: 150px;
    margin-right: 100px;
    }
    .first-logo3 img{
        margin-top: 40px;
        max-width: 150px;
        min-width: 70px;
        height: auto;
        margin-left: 70px;
        gap: 60px;
        margin-right: 100px;
        }
   /* mobile */

  @media screen and (max-width:320px)
  {
    .main-container img{
        width:100%;
        margin-left:0;
        height: auto;
    }
    .main-container ,h5 ,p{
        width:100%;
        margin-left: 0; 
        overflow-wrap: break-word; 
    }
    #header2{
        width:150px;
      }
      #flex-items{
        flex-direction:column;
        width:auto;
      }
     #paragraph{
        overflow-wrap: break-word;
     }
/* testimonials */
    .testimonials{       
   flex-direction: column; 
margin: auto;
 }
 /* brand section */
 .first-logo{
    flex-direction: column;
    max-width: 200px;
    height: auto;
    margin-left: 50px;
    }
    .first-logo2{
        flex-direction: column;
        max-width: 200px;
        height: auto;
        margin-left: 50px;
        }
        .first-logo3{
            flex-direction: column;
            max-width: 200px;
            height: 100px;
            margin-left: 50px;
            }
}
  /* Tablet */
 @media screen and (min-width:321px) and (max-width:768px){
    .main-container img{
        max-width:100%;
        margin-left:0;
        height: auto;
    }
    .main-container ,h5 ,p{
        max-width:100%;
        margin-left: 0;  
    }
/* testimonials */
    .testimonials{       
        flex-direction: column;   
      }
}



  
  
