@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;500&family=Open+Sans:wght@300&display=swap');

:root {
--primary: #F74F22;
--secondary: #FF9800;
--text: #1E1E1E;
--background: #FAFAFA;
--bg: #F8FAFC;
}

body{
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   box-sizing: border-box;
   overflow-x: hidden;
   min-height: 100%;
   font-family: 'Inter',Shadows Into Light Two;
}
/*carosel section*/
/* carosel styling*/
#imo{
  height:80vh;
}
.last:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  
}
#hel{
    font-family:'Shadows Into Light Two';
    font-weight:400;
    font-size: 34px;
    color:#fafafa;

}
#ge{
    font-family: 'Inter';
    font-size:58px;
    color:#fafafa;
}
#caro{
    width:246px;
    height:72px;
    background-color: #f74f22;
    border:1px solid #f74f22;
    box-shadow:0px 1px 2px rgba(16,24 40,0.05);
    border-radius:8px;
}

/**about section**/
#header p,#header2{
  font-family: 'Shadows Into Light Two', cursive;
  color: #FF9800;
}
#header, h4{
  font-family: 'Inter', sans-serif;
}
#main-container{
  border: none;
}
#main-container img{
margin-left: 30px;
}
#main-container ,h5,p{
  font-family: 'Inter';
  font-style: normal;
  }
  
#image-card{
  column-gap: 50px;
  width: 90%;
}
/**causes section **/
#title{
  color: #000000;
  font-family: 'Montserrat'
}
#paragraph{
  font-family: 'Open Sans';
}
#button {
  background: #F74F22;
  color: white;
  border: 1px solid #F74F22 ;
  padding: 5px;
  border-radius: 4px;
}
/** our events section **/
.button-dates{
  background: #F74F22;
  border: 2px solid #F74F22;
  height: 80px;
  width: 100%;
  border-radius: 5px;
  min-width: 50px; 
 max-width: 300px;
}
#flex-items{
  gap: 25px;
}
/* testimonials */
.testimonials{
  gap: 100px;
  margin-left: 40px;
}
#last-testimonial{
  margin-left: 40px;
  margin-top: 40px; 
}
/* brand sponsors */
.first-logo img{
margin: 40px 30px;
max-width: 250px;
min-width: 60px;
height: auto;
margin-left: 70px;
gap: 200px;
}
.first-logo2 img{
  margin: 40px 30px;
  max-width: 200px;
  min-width: 60px;
  height: auto;
  margin-left: 70px;
  gap: 150px;
  margin-right: 100px;
  }
  .first-logo3 img{
      margin-top: 40px;
      max-width: 150px;
      min-width: 70px;
      height: auto;
      margin-left: 70px;
      gap: 60px;
      margin-right: 100px;
      }
 /* mobile */

@media screen and (max-width:320px)
{
  .main-container img{
      width:100%;
      margin-left:0;
      height: auto;
  }
  .main-container ,h5 ,p{
      width:100%;
      margin-left: 0; 
      overflow-wrap: break-word; 
  }
  #header2{
      width:150px;
    }
    #flex-items{
      flex-direction:column;
      width:auto;
    }
   #paragraph{
      overflow-wrap: break-word;
   }
/* testimonials */
  .testimonials{       
 flex-direction: column; 
margin: auto;
}
/* brand section */
.first-logo{
  flex-direction: column;
  max-width: 200px;
  height: auto;
  margin-left: 50px;
  }
  .first-logo2{
      flex-direction: column;
      max-width: 200px;
      height: auto;
      margin-left: 50px;
      }
      .first-logo3{
          flex-direction: column;
          max-width: 200px;
          height: 100px;
          margin-left: 50px;
          }
}
/* Tablet */
@media screen and (min-width:321px) and (max-width:768px){
  .main-container img{
      max-width:100%;
      margin-left:0;
      height: auto;
  }
  .main-container ,h5 ,p{
      max-width:100%;
      margin-left: 0;  
  }
/* testimonials */
  .testimonials{       
      flex-direction: column;   
    }
}


a{
   text-decoration: none;
 }
 li{
  justify-content: space-between;
  align-items: flex-end;
   list-style: none;
 }
 button{
   border: none;
   outline: none;
 }
 .section{
   padding: 150px 100px;
 }
 .section h1{
   font-size: 3.2rem;
   font-weight: 600;
   text-align: center;
 }

 .selector-for-some-widget {
  box-sizing: content-box;
}
 

/*font-family: 'Inter', sans-serif;
font-family: 'Shadows Into Light Two', cursive;*/

/*NAVBAR*/
.header {
   background-color: var(--background);
   margin: 5px 10;
   position: absolute;
   width: 1600px;
   min-height: 100%;
   left: 0px;
   top: 0px;
   display:flex;
   justify-content: center;
   align-items: flex-end;
   padding: 1rem 7%;
 
  }

  .navbar span{
   font-weight: 700;
   font-size: 1.85rem;
 }
 .navbar span:hover{
   cursor: pointer;
   color: var(--primary);
 }
 .navbar ul{
   display: flex;
   gap: 1.7rem;
 }
 .nav-links{
   font-size: 16px;
   font-family: 'Inter';
   font-weight: 500;
   color: var(--text);
   line-height: 19.36px;
 }
 .nav-links:hover{
   color: var(--secondary);
 }
 
 .nav-links button{
   background-color: var(--primary);
   color: var(--primary);
   padding: 0.6rem 1.4rem;
   font-size: 1.3rem;
   cursor: pointer;
   border-radius: 2px;
 }
 .navbar button:hover{
   background-color: var(--secondary);
   border-color: var(--primary);
   box-shadow: var(--secondary);
 }
 .active{
   color: var(--primary);
 }

 .vector{
position: absolute;
left: 6.12%;
right: 91.06%;
top: 3.18%;
bottom: 92.1%;
 }
 
 .span{
  font-size: 24px;
  font-weight: 600;
  font-family: 'Inter';
  color: #1E1E1E;
  line-height: 29.05px;
 }
 
 /* HERO SECTION */
 .hero-section{
   width: 100vw;
   min-height: 92vh;
   position: relative;
 }

 .hero-section .carousel-item active{
 position: absolute;
 width: 1600px;
 height: 826px;
 left: -5px;
 top: 88px;
 background-color:url("./IMAGES/rectangle 16") rgba(0, 0, 0, 0.23);
 }

 #carousel{
  position: absolute;
  width: 1600px;
  height: 826px;
  left: -5px;
  top: 88px;
  background-color:url("./IMAGES/rectangle 16") rgba(0, 0, 0, 0.23);
 }
 
 #h5{
  position: absolute;
  width: 153px;
  height: 49px;
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 49px;
 }

 @media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
 @media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
}
   
  /*The footer*/
#whole-foot{
  background-color: #1E1E1E;
}
#foot{
  background-color: #F74F22;
  border-radius:20px;
  margin: 4rem 0;

}
#whole-foot h5{
  font-family:'Shadows Into Light Two';
  font-weight: 400;
  font-size: 42px;
  color:#f8fafc;
  padding:2rem 0;

}
#data2{
  padding:17px 16px 17px 20px;
  gap:1.5rem;
  width:270px;
  height:59.54px;
  background-color: #F74F22;
  border:1px solid #D4D4D8;
  border-radius: 5px;

}
#sub{
  padding:16px;
  gap:10px;
  background-color:rgba(30,30,30,0.77);
  border-radius:9px;
}
/*last part*/
#last{
  background-color:#1E1E1E;

}
#fundfoot{
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color:#FAFAFA;
}
.bodyfoot p{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color:#FAFAFA;
}
.foot-icon i{
  color: #F74F22;
  padding:2px 4px;
}
#foothead{
  font-family: 'Inter';
  font-family: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#F74F22;
}
#endfoot a{
  color:#f8fafc;
  text-decoration: none;
  padding-top:2rem;
}